.title-login {
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: 700;
    width: 80%;
}

.social--express {
    background: #FFC934;
    color: #2b2b2b;
}

.social--google {
    background: #EA4335;
    color: white;
}

.social--facebook {
    background: #3C5A9A;
    color: white;
}

.social--register {
    background: #5da92f;
    color: white;
}

.social_icon {
    // filter: grayscale(1);

    & img {
        width: 22px;
    }
    
}

.password {
    cursor: pointer;
}

.info {
    font-size: 12px;
    font-weight: 400;
    color: #2b2b2b;
    margin-top: 0px;
    border: 2px dashed #5da92f;
    border-radius: 5px;
    padding: 8px;
}

.registerForm {
    transition: 300ms ease-in-out;
}

.formHidden {
    height: 0px;
    transform: scaleY(0);
}

.formVisible {
    height: 200px;
    transform: scaleY(1);
}
